<nav class="navbar navbar-expand-sm navbar-light bg-dark">
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-between">
				<div class="navbar-nav">
					<a class="navbar-brand text-white" href="#"
						>JARVIS API</a
					>
					<a class="nav-link active text-white" href="/"
						>Documentations</a
					>
				</div>
				<div class="navbar-nav">
					<a class="nav-link active text-white" href="/register"
						>S'inscrire</a
					>
					<a class="nav-link active text-white" href="/login"
						>S'identifier</a
					>
				</div>
			</div>
		</div>
	</div>
</nav>